h2 Get Article
div.form-inline
    div.form-group
        input.form-control(type="text" ng-model="article.id" placeholder="Article ID")
    button.btn.btn-default(ui-sref="home.article.detail({ id:article.id })") Get