extends layout

block content
  h1= title
  p Used #{using}
  hr
  button#getArt Get Article
  button#getArts Get Articles
  button#addArt Add Article
  button#editArt Edit Article
  button#delArt Delete Article
  hr
  div#advance
  div#output
