extends layout

block content
  h1= title
  p Used #{using}
  hr
  button#log Login
  button#reg Register
  input#username(type="text" placeholder="Username")
  input#password(type="password" placeholder="Password")
  hr
  button#getArt Get Article
  button#getArts Get Articles
  button#addArt Add Article
  button#addImg Add Images
  button#editArt Edit Article
  button#delArt Delete Article
  button#cls CLS
  hr
  div#advance
  div#output
