body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

div#advance {
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  width: 385px;
  height: 241px;
  cursor: pointer;
}

img.expand {
  display: block;
  width: auto;
  height: auto;
}

div.form-group {
  padding-left: 5px;
}